body{
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
}

.list_label{
    font-size:12px; 
    background:lightgray; 
    padding:0.25rem;
    border-radius: 0.25rem;
    border: 1px solid;
    padding-top: 0.25rem;
}

.list_label ons-icon{
    color:red;
    padding-right:0.25rem;
}

.list-item__subtitle{
    font-size: 13px;
    padding: 0.25rem 0 0.25rem 0;
}

.list-item__subtitle div{
    padding-bottom: 0.25rem;
}
